body{
  background-color: #aa6faf;
}

a:link{
  color: white;
}

#bevetel{
  width: 100%;
  padding: 20px;
  background-color: rgb(152, 79, 221);
  border-radius: 10px;
  position: static;
  margin: 0;
}

#kiadas{
  width: 100%;
  padding: 20px;
  background-color: rgb(225, 82, 230);
  border-radius: 10px;
  position: static;
  margin: 0;
}

#osszesito{
  width: 100%;
  padding: 20px;
  background-color: rgb(209, 124, 212);
  border-radius: 10px;
  margin: 0;
}

input{
  text-align: right;
}

#DatumBevetel{

}

#OsszKiadasReszlet{
  text-indent: 50px;
}
