<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid position-relative">

    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/KCS_202507/01_Vizsgaremek/F00_Vizsgaremek/view/base/Vizsgamunka_LogoPng.png" alt="Logó" title="Logó" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center"
         id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="../controller/controller.php?oldal=fooldal">Főoldal</a></li>
        <li class="nav-item"><a class="nav-link active" href="../controller/controller.php?oldal=kalkulator">Kalkulátor</a></li>
        <li class="nav-item"><a class="nav-link" href="../controller/controller.php?oldal=tabla">Táblázat</a></li>
        <li class="nav-item"><a class="nav-link" href="../controller/controller.php?oldal=tudatossag">Pénzügyi tudatosság</a></li>
        <li class="nav-item"><a class="nav-link" href="../controller/controller.php?oldal=nyomtatvanyok">Link gyűjtő</a></li>
      </ul>

    </div>
  </div>
</nav>
